body{
  margin: auto;
  text-align: center;
  width: 50%;
}
.hey{
  background-color: blanchedalmond;
  width: 100%;
  display: flex;
}
.dashboard{
  
  width: 50%;
  display: flex;
  background-color: antiquewhite;
}
.sidebar{
  justify-content: right;
  display: flex;
  background-color: blue;
  flex-direction: column;
  
}

.main{
  justify-content: center;
  background-color: yellowgreen;
  display: flex;
}